<%- include('../parts/head', {bot, user, path}) %>
<title>Rules | Discord Bots</title>
<style>
strong {
color: gray;
}
</style>
<div class="container px-3 mt-2 pt-5">
    <div class="container px-3 content is-widescreen pt-5">
        <div class="bg-vote-vcodes pt-5">
            <p class="has-text-white is-size-4" style="text-decoration: underline" >Bot Kuralları</p>
            <p style="text-align: none;"class="text-muted">
&raquo <strong>1.</strong> Bot ekleme kuralları;<br>
  &nbsp;&nbsp;<strong>a.</strong> Etiketleri doğru olmalı.<br>
  &nbsp;&nbsp;<strong>b.</strong> Bot ID doğru olmalı<br>
  &nbsp;&nbsp;<strong>c.</strong> Bot en az 2 hafta önce açılmış olmalı.<br>
  &nbsp;&nbsp;<strong>d.</strong> Ayarlamalı komutlar ayarlamalı olmalı.<br>
  &nbsp;&nbsp;<strong>e.</strong> Botun avatarı olmalı.<br><br>
&raquo <strong>2.</strong> Botta dikkat edilmesi gerekenler;<br>
  &nbsp;&nbsp;<strong>a.</strong> Botun avatarı +18 olmamalı.<br>
  &nbsp;&nbsp;<strong>b.</strong> Botun avatarı din dil siyaset vurgusu olan avatar olmamalı.<br>
  &nbsp;&nbsp;<strong>c.</strong> +18 komut olmamalı.<br>
  &nbsp;&nbsp;<strong>d.</strong> Botun komutlarının yazılı olduğu bir yer olmalı.<br>
  &nbsp;&nbsp;<strong>e.</strong> Botun hatalı komutu olmamalı.<br>
  &nbsp;&nbsp;<strong>f.</strong> Prefixi doğru girilmiş olmalı.<br>
  &nbsp;&nbsp;<strong>g.</strong> Botta sahipe özel komut olmamalı.<br><br>
&raquo <strong>3.</strong> Botta kesin yasak komutlar;<br>
  &nbsp;&nbsp;<strong>a.</strong> Mesaj spam komutu.<br>
  &nbsp;&nbsp;<strong>b.</strong> Dm mesaj komutu.<br>
  &nbsp;&nbsp;<strong>c.</strong> +18 komutlar.<br>
  &nbsp;&nbsp;<strong>d.</strong> everyone/here tetikleyici komut.<br>
  &nbsp;&nbsp;<strong>e.</strong> Reklam komutu.<br>
  &nbsp;&nbsp;<strong>f.</strong> Toplu rol al/ver komutu.<br>
  &nbsp;&nbsp;<strong>g.</strong> Toplu kanal ekle/sil komutu.
<br><br>
&raquo Botta bulunmaması gereken komutlar;<br>
  <strong>1.</strong> Yetki ver/al komutu<br>
  <strong>2.</strong> Ayarlamasız komutlar<br>
  <strong>3.</strong> Partner komutları<br>
  <strong>4.</strong> Emoji spam komutu<br>
  <strong>5.</strong> Sahip etiketleme yasak komutu
                </p>
            <br>
        </div>
    </div>
    <center>
    <button onclick="location.href='/addbot'" class="btn btn-back"><i class="fad fa-check"></i>&nbsp;Apply your bot</button>
    </center>
</div>

<%- include('../parts/foot') %>
