
<section class="jumbotron vcodes">
    <br><br>
    <div class="container px-3 mb-5 mt-1">
      <div class="mb-3 mx-auto">
       <span class="icon-section" style="margin-top: -5%;float: right;">
        <img  draggable="false" style="z-index: -1!important;" src="https://i.hizliresim.com/bopl210.png" width="320" alt="Discord Bots | Discord Bot List">
        </span>
        <h1 class="has-text-white title" style="font-weight: 800;">Vortex Botlist & CodeShare</h1>
        <p class="content has-text-white" style="opacity: 0.6; margin-top: -20px;">Sitemize botlarınızı eklemek için neyi bekliyorsunuz. Eğer botunuza komut arıyorsanız sitedeki kodları kullanabilirsiniz. Vortex Botlist & CodeShare ekibi olarak siteyi sürekli geliştirmeye devam edeceğiz.</p>
        
            <div>
              <div class="z mt-2">
                <form action="/search">
                  <input name="q" autocomplete="off" id="search" class="z mainInput searchIcon isMobile"  style="background-color: #2c2f33!important;" type="text"  placeholder="Bot Ara...">
                  <input type="hidden" name="page" value="1">
                </form>
          <a translate="no" title="vCodes" href="/tag/Moderation" class="btn btn-tag"><i class="fa fa-magic"></i>&nbsp;Moderasyon</a>
          <a translate="no" title="vCodes" href="/tag/Fun" class="btn btn-tag"><i class="fa fa-smile"></i>&nbsp;Eğlence</a>
          <a translate="no" title="vCodes" href="/tag/NSFW" class="btn btn-tag"><i class="fa fa-lips"></i>&nbsp;Level</a>
          <a translate="no" title="vCodes" href="/tag/Utility" class="btn btn-tag"><i class="fa fa-cogs"></i>&nbsp;Fortnite</a>
          <a title="vCodes" href="/tags" class="btn btn-tag"><i class="fa fa-tags"></i>&nbsp;Etiketleri Keşfet</a>
              </div>
      </div>
    </div>
</div>
</section>



</div>
